<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<title>Diffie-Hellman Key Exchange</title>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

</head>
<body>
	
	<div>
	<h1> Background: A Little Computer science </h1>
	<h1> Coding Numbers In Binary </h1>
	<p>bytes,bits,shannons, register sies and big integers, complexity of factorization, hexadecimal notation</p>
	<p>B=(b_0,b_1,b_2,b_3,b_4,b_5,b_6,b_7)
	<h1> Text As Numbers </h1>
	<p>ASCII,UTF-8, generalization of byte stream</p>
	<p> Character encodings are maps </p>
	<h1> Logical Operations </h1>
	<p>Focus on Xor</p>
	<h2> All data is strings</h2>
	<p>All data is strings, so the algorithms presented are generalizable to all data</p>
	
	
	</div>
	
	
	<h1> Demo </h1>
	
	Write some text in textbox:
	<input type="text" ng-model="plain" ng-change="changeMessage()" /><br>
	P:<input type="text" ng-model="P" ><br>
	G:<input type="text" ng-model="G" ><br>
	
	<h1 ng-show="plain" ng-model="plain">Hello {{plain}}</h1>
	
	<h2>Plain</h2>
	<p ng-model="plain" > {{plain}}</p>
	
	<h2>Plain(hex)</h2>
	<p ng-model="hexPlain" > {{hexPlain}}</p>
	<p >Crypt {{ hexCrypt }}</p>
	<p >Hello {{ hexCrypt }}</p>
	
	<div>
	<hr>
	<ul id="navbar">
	<li><a href="OTP.hrml">Previous:One Time Pad</a></li>
	<li><a href="index.html">Up:Contents </a></li>
	<li><a href="RSA.html"> Next: RSA </a></li>
	<ul></li>
	</div>
	
</body>

<script type="text/javascript">

String.prototype.hexEncode = function(){
    var hex, i;

    var result = "";
    for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += (" "+hex).slice(-4);
    }

    return result
}

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "John Doe";
    
    
    $scope.changeMessage = function() {
        $scope.hexPlain = $scope.plain.hexEncode();
      };
});

</script>
<script type="text/javascript">
//console.log("0xF1" + data.charCodeAt(0).toString(16));
</script>

</html>
