<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl" ng-init="generateKeys()">
<head>
	<title>Diffie-Hellman Key Exchange</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript"src="angular.js"></script>
	<script type="text/javascript"src="DH.js"></script>
	<script type="text/javascript"src="BigInt.js"></script>

</head>
<body>
<div class="page">
	
	<div>
		<h1> Diffie-Hellman Key Exchange </h1>
		<p> The Diffie-Hellman key exchange builds on the concept of the One Time Pad.
		Recall that for the one time pad, the pad needed to be physically transported to all
		parties.  The Diffie-Hellman key exchange uses modular arithmetic to generate the
		pad without either party needing to transmit secret information. </p>
	</div>
	
	<div>
		<h2>Public numbers</h2>
		<p>Public numbers are agreed upon at the start of the transaction. 
		 They are sent in the clear so anyone can see them.</p>
		<ul>
		<li>P:An arbitrary large prime</li>
		<li>G:An arbitrary large prime</li>
		</ul>
	</div>
	
	<div>
		<h2>Numbers Alice Knows</h2>
		<ul>
		<li>P: It's public</li>
		<li>G: It's public</li>
		<li>Xa: Alice's <u>private key</u> is a randomly generated number only she knows.</li>
		</ul>
	</div>
	
	<div>
		<h2>Numbers Bob Knows</h2>
		<ul>
		<li>P: It's public</li>
		<li>G: It's public</li>
		<li>Xb: Bob's <u>private key</u> is a randomly generated number only he knows.</li>
		</ul>
	</div>
	
	<div>
		<h2> Public generated numbers</h2>
	
		<p>Using the private data and shared data both parties generate new shared data</p>
		<math>
		<ul>
		<li>Ya=(G<sup>Xa</sup>) mod P: Alice's <u>public key</u> is a function of her private key and public information.</li>
		<li>Yb=(G<sup>Xb</sup>) mod P: Bob's <u>public key</u> is a function of his private key and public information</li>
		</ul>
		
	</div>
	
	<div>
	Ya is transmitted to Bob<br>
	Yb is transmitted to Alice
	
	</div>
	
	
	<div>
	
		<h2> Private generated numbers</h2>
	
		<p>Using the private data and shared data both parties generate new shared data</p>
	
		<p>Ka=Yb<sup>Xa</sup> (mod P)</p>
		<p>Kb=Ya<sup>Xb</sup> (mod P)</p>
		<p>Ka=Kb</p>
	</div>
	</math>
	<div>
		<h1> Demo </h1>
	
		Write some text in textbox to encrypt it. You can generate different keys to see it
		encrypted in different ways.
		<textarea type="text" ng-model="plain" ng-change="changeMessage()" /></textarea><br>
		<button ng-click="generateKeys();changeMessage()">Generate Keys</button>
		
		
		<table>
		<tbody>
	
		<tr>
			<th>
			G
			</th>
			<td>
			{{G}}
			</td>
		</tr>
	
		<tr>
			<th>
			P
			</th>
			<td>
			{{P}}
			</td>
		</tr>
	
		<tr>
			<th>
			Alice's Secret (Xa)
			</th>
			<td>
			{{a}}
			</td>
		</tr>
	
		<tr>
			<th>
			Bob's Secret(Xb)
			</th>
			<td>
			{{b}}
			</td>
		</tr>
		
		<tr>
			<th>
			Alice's Public Key (Ya)
			</th>
			<td>
			{{pa}}
			</td>
		</tr>
		
		<tr>
			<th>
			Bob's Public Key (Yb)
			</th>
			<td>
			{{pb}}
			</td>
		</tr>
	
		<tr>
			<th>
			Shared Secret (Ka)
			</th>
			<td>
			{{sa}}
			</td>
		</tr>
		
		<tr>
			<th>
			Shared Secret (Kb)
			</th>
			<td>
			{{sb}}
			</td>
		</tr>
		</tbody>
		</table>
		
		<h2> Encrypt </h2>
	
		<h3>Plain(hex)</h3>
		<div class="output">
		<p ng-model="hexPlain" > {{hexPlain}}</p>
		</div>
		
		<h3>Encrypted(hex)</h3>
		<div class="output">
		<p > {{ hexCrypt }}</p>
		</div>
		
		<hr>
		
		<div>
			<h2> Decrypt </h2>
			Copy the encrypted data fromt the "encrypted hex" box into this box to decrypt it.
			Generate new keys to see how choosing the wrong key just gets you garbled data.
			<textarea  type="text" ng-model="hexCryptIn" ng-change="changeCrypt()" >
			Now put the hex encoded string you need decrypted here.
			</textarea>
			Key:<input type="number" ng-model="keyIn" ng-change="changeCrypt()"></input>
			<button ng-click="keyIn=sa;changeCrypt()">Copy From Above Key</button>
			<br>
		
			<h3>Decrypted(Hex) </h3>
			<div class="output">
			<p> {{hexOut}} </p>
			</div>
		
			<h3>Plain text </h3>
			<div class="output">
			<p> {{plainOut}} </p>
			</div>
		</div>
		
	</div>
	
	<div>
		<hr>
		<ul id="navbar">
		<li><a href="OTP.html">Previous:One Time Pad</a></li>
		<li><a href="index.html">Up:Contents </a></li>
		<li><a href="RSA.html"> Next: RSA </a></li>
		</ul>
	</div>

</div>
</body>

<script type="text/javascript">

String.prototype.hexEncode = function(){
    var hex, i;

    var result = "";
    for (i=0; i<this.length; i++) {
        hex = this.charCodeAt(i).toString(16);
        result += (" "+hex).slice(-4);
    }

    return result
}

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  	$scope.G="?";
  	$scope.P="?";
  	$scope.a="?";
  	$scope.b="?";
  	$scope.s="?";
    
    $scope.generateKeys = function(){
    
    	$scope.P= random_prime(30, 2048);
    	$scope.G= random_prime(0, $scope.P);
    	$scope.a= $scope.randInt(1<<16);
    	$scope.b= $scope.randInt(1<<16);
    	
    	var pa = bigInt($scope.G).modPow($scope.a,$scope.P);
    	
    	var pb = bigInt($scope.G).modPow($scope.b,$scope.P);
    	
    	
    	var sa =  bigInt(pb).modPow($scope.a,$scope.P);
    	var sb =  bigInt(pa).modPow($scope.b,$scope.P);
    	
    	$scope.pb= pb.toString(10);
    	$scope.pa= pa.toString(10);
    	$scope.sa=sa.toJSNumber();
    	$scope.sb=sa.toJSNumber();
    
    }
    
    $scope.randInt = function(n)
    {
    	return Math.round(Math.random()*n);
    }
    
    $scope.bytesToString = function(bytes)
    {
    	var a ="";
    	for(var i=0;i<bytes.length;i++)
    	{
    		a+=bytes[i].toString(16)+" ";
    	}
    	return a;
    }
    
    $scope.stringFromBytes = function(bytes)
    {
    	var a ="";
    	for(var i=0;i<bytes.length;i++)
    	{
    		a+=(String.fromCodePoint(bytes[i]));
    	}
    	return a;
    }
    
    $scope.changeMessage = function() {
    	
    	if($scope.plain == null)
    		return;
    		
        $scope.hexPlain = $scope.plain.hexEncode();
        var bytes=[];
        for(var i=0; i<$scope.plain.length;i++)
        {
        	bytes.push($scope.plain.codePointAt(i) ^ $scope.sa);
        }
        
        $scope.hexCrypt=$scope.bytesToString(bytes);
        
      };
      
    $scope.changeCrypt = function() 
    {
    	if($scope.hexCryptIn == null || $scope.keyIn == null)
    	{
    		return;
    	}
    	var cipherText = $scope.hexCryptIn;
    	var s = "";
    	var bytes = cipherText.split(" ");
    	
    	var plainBytes=[];
		for (var i =0; i< bytes.length;i++)
    	{
    		plainBytes[i] =  parseInt(bytes[i],16) ^ $scope.keyIn;
    		s+= plainBytes[i].toString(16) +" ";
    	}
    	$scope.hexOut=s;
    	
    	s="";
    	for (var i =0; i< plainBytes.length;i++)
    	{
    		s+= String.fromCodePoint(plainBytes[i]);
    	}
    	$scope.plainOut=s;
        
    };  
});

</script>
<script type="text/javascript">
//console.log("0xF1" + data.charCodeAt(0).toString(16));
</script>

</html>
