<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<title>Diffie-Hellman Key Exchange</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="angular.js"></script>

</head>
<body>
<div class="page">
	<div>
	<h1> One Time Pad </h1>
	<p> The One-Time-Pad is one of the classic forms of encryption.  Unlike other forms of encryption it has 
	a completely random nature, and so can only be compromised if the key string (called the pad) is intercepted
	when it's in transit.  The downside of the pad is that it can be intercepted, because it must be physically
	transported to all parties involved in the communication.
	
	<math xmlns="http://www.w3.org/1998/Math/MathML">
	<h2> A Pad on +<sub>26</sub> over letters</h2>
	<p> In the simplest case a one time pad can be considered only over only uppercase letters.
	Suppose we have the message</p>
	<p><strong>HELLO</strong></p>
	<p>And the pad</p>
	<p><strong>1 0 1 26 25</strong><p>
	<p>Remember there are 26 letters, so adding 26 does noting, but adding 25 gets you the previous letter.. 
	So the resulting message is just the each letter shifted by this amount wrapping at Z.
	</p>
	<p>
	<strong>IEMLN</strong>
	<p>
	<p>Note that performing the additive inverse(subtraction) of the encrypted message with the
	pad decrypts the message.
	</p>
	
	
	<h2> Logical XOR is +<sub>2</sub> on Z<sub>2</sub> </h2>
	<p>In the computer sciece background we started talking about XOR.  XOR is important because
	it is reversible, and can be applied to bits.  Since a string is just a list of bits we apply
	XOR to encrypt the message string.  XOR is addition on GF(2).  Enter two characters in the
	field below to see how they can be XOR'd and then the original is recovered.
	</p>
	<div>
		<form>
		Plain:<input type="text" ng-model="xorChar" ng-change="xorDemo()"></input><br>
		Pad:  <input type="text" ng-model="xorPad" ng-change="xorDemo()"></input>
		</form>
	
		<p class="error" ng-if="!xorDemoValidate()">Invalid input: Please enter a single character in each box</p>
	
		<table ng-if="xorDemoValidate()">
		<tr><td>{{xorChar}}</td> <td>{{xorBits}}</td>
		<tr><td>{{xorPad}}</td> <td>{{xorPadBits}}</td>
		<tr><td>{{xorChar}} XOR {{xorPad}} = {{xorCrypt}} </td> <td> {{xorCryptBits}}</td>
		<tr><td>{{xorCrypt}} XOR {{xorPad}} = {{xorChar}} </td> <td> {{xorBits}}</td>
		</table>
	</div>
	
	<p>
	It actually isn't even necessary that the pad be the same length as the message you want
	to encrypt.  You can just use a shorter pad and go back to the start if you hit the end.
	So the general form of the onetime pad is a string of permutations.
	</p>
	C<sub>i</sub>=M<sub>i</sub>α<sub>j</sub><br>
	M<sub>i</sub>=C<sub>i</sub>α<sup>-1</sup><sub>j</sub><br>
	j=i (mod N) where N is the length of the pad.
	
	
	</div>
	
	<hr>
	<h1> Demo </h1>
	
	<p>
	Write some text in textbox to encrypt it:
	</p>
	<form>
	Message:<br><textarea type="text" ng-model="plain" ng-change="changeMessage()"></textarea><br>
	Pad Length:<br><input type="text" ng-model="padLength" ng-change="generatePad()" ng-init="generatePad()"> </input>
	</form>
	<!-- base 26 OTP -- >
	<!--- generalization of otp-->
	<h2>Encrypt</h2>
	
	<h3>Plain(hex)</h3>
	<div class="output">
	<p ng-model="hexPlain" > {{hexPlain}}</p>
	</div>
	<h3>Pad (Randomly generated)</h3>
	<div class="output">
	<p>{{hexPad}}</p>
	</div>
	
	<h3>Encrypted Hex</h3>
	<div class="output">
	<p> {{ hexCrypt }}</p>
	</div>
	
	<hr>
	<h2>Decrypt</h2>
	<p> Copy the <strong>encrypted hex</strong> from above into the below box and provide a pad to decrypt it.
	(hint: copy pad from above, then fiddle with the pad to see how guessing incorrectly garbles the message.)
	<form>
	Encrypted Hex<br><textarea type="text" ng-model="hexIn" ng-change="decrypt()"></textarea><br>
	Pad<br><textarea type="text" ng-model="padIn" ng-change="decrypt()"></textarea>
	<input type="button" ng-click="padIn=hexPad;decrypt()" value="Copy pad from above"></input>
	</form>
	<p>Note: Pad must be specified in hex, so use only numbers 0..9 and letters A..F</p>
	
	<h3>Decrypted Hex</h3>
	<div class="output">
	<p>{{outHex}}</p>
	</div>
	
	<h3>Decrypted Text</h3>
	<div class="output">
	<p>{{outPlain}}</p>
	</div>
	
	<div>
	<hr>
	<ul id="navbar">
	<li><a href="background.html">Previous:Background</a></li>
	<li><a href="index.html">Up:Contents </a></li>
	<li><a href="DH.html"> Next: Diffie Hellman Key Exchange </a></li>
	</ul>
	</div>
</div>
</body>

<script type="text/javascript">


//return integer between 0 and n inclusive
function randInt(n)
{
	return Math.floor((Math.random() * n) + 1);
}

function zeroPadString(s,n)
{
	const b= n- s.length;
	var prefix="";
	for(var i=0;i<b;i++)
	{
		prefix+="0";
	}
	return prefix+s;
}

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    
    
    
    $scope.padLength=10;
    $scope.pad=[0];
    
    $scope.generatePad= function()
    {
    	var bytes=[];
    	
    	$scope.hexPad="";
    	for(var i=0; i< $scope.padLength;i++)
    	{
    		bytes[i]=randInt(255);
    		$scope.hexPad += bytes[i].toString(16) +" ";
    	}
    	
    	$scope.pad=bytes;
    }
    
    $scope.changeMessage = function() 
    {
    	var s=$scope.plain;
    	var p=$scope.pad;
    	var bytes=[];
    	var crypt=[];
    	for (var i =0; i< s.length;i++)
    	{
    		bytes[i]=s.codePointAt(i);
    		crypt[i]= s.codePointAt(i) ^ p[i % p.length];
    	}

    	s="";
    	sp="";
    	se="";
    	for (var i =0; i< bytes.length;i++)
    	{
    		s+= bytes[i].toString(16) +" ";
    		se+= crypt[i].toString(16)+" ";
    	}
    	$scope.hexPlain=s;
    	$scope.hexCrypt=se;
    	
    	
        
    };
    
    $scope.decrypt = function() 
    {
    	if ($scope.padIn == null || $scope.padIn.length ==0 ||$scope.hexIn == null || $scope.hexIn.length ==0)
    	{
    		console.log("empty pad or message");
    		return;
    	}
    	
    	var s=$scope.hexIn.split(" ");
    	var p=$scope.padIn.split(" ");
    	p.pop();
    	var bytes=[];
    	var pad=[];
    	
    	for (var i =0; i< s.length;i++)
    	{
    		bytes[i]=parseInt(s[i],16);
    	}
    	
    	for(var i=0;i< p.length;i++)
    	{
    		pad[i]=parseInt(p[i],16);
    	}

    	var sPlain="";
    	var s="";
    	for (var i =0; i< bytes.length;i++)
    	{
    		var plainByte = bytes[i] ^ pad[i%pad.length];
    		s+= plainByte.toString(16) +" ";
    		sPlain+= String.fromCodePoint(plainByte);
    	}
    	$scope.outPlain=sPlain;
    	$scope.outHex=s;
    };
    
    $scope.xorDemoValidate= function()
    {
    	var a =$scope.xorChar;
    	var b =$scope.xorPad;
    	return a !=null && b !=null &&a.length ==1 && b.length ==1;
    }
    
    $scope.xorDemo= function()
    {
    	if(!$scope.xorDemoValidate())
    	{
    		return;
    	}
    	var a=$scope.xorChar.codePointAt(0);
    	var b=$scope.xorPad.codePointAt(0);
    	
    	$scope.xorBits = zeroPadString(a.toString(2),8);
    	$scope.xorPadBits = zeroPadString(b.toString(2),8);
    	
    	$scope.xorCrypt = a^b;
    	$scope.xorCryptBits = zeroPadString($scope.xorCrypt.toString(2),8);
    	
    	
    }
    
    
});

</script>
<script type="text/javascript">
//console.log("0xF1" + data.charCodeAt(0).toString(16));
</script>

</html>
