<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
	<title>RSA Encryption Scheme</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript"
		src="angular.js"></script>
	<script type="text/javascript" src="BigInt.js"></script>
	<script type="text/javascript" src="RSA.js"></script>
	<!--<script type="text/javascript" src="numbertheory.js"></script>-->
	

</head>
<body>
<div>
	<div>
	<h1> RSA Encryption Scheme </h1>
	<p> [Introduction goes here] </p>
	</div>
	
	<div>
	<h2>Public numbers</h2>
	<p>Public numbers are agreed upon at the start of the transaction. 
	 They are sent in the clear so anyone can see them.</p>
	<ul>
	<li>P:An arbitrary large prime number</li>
	<li>Q:An arbitrary large prime number</li>
	</ul>
	</div>
	
	<div>
	<h2>Numbers Alice Knows</h2>
	<ul>
	<li>P: It's public</li>
	<li>Q: It's public</li>
	<li>Xa: Alice's <u>private key</u> is a randomly generated number only she knows.</li>
	</ul>
	</div>
	
	<div>
	<h2>Numbers Bob Knows</h2>
	<ul>
	<li>P: It's public</li>
	<li>Q: It's public</li>
	</ul>
	</div>
	
	<div>
	<h2> Public generated numbers</h2>
	
	<p>In RSA, both parties don't have to be communicating to establish the key, because
	the secret is not shared.  This means only Alice generates which she shares with Bob.
	Bob can encrypt a secret to send to Alice, but not decrypt messages intended for Alice.</p>
	
	</div>
	
	</div>
	
	<div>
	
	<h2> Private generated numbers</h2>
	
	<p>Using the private data and shared data both parties generate new shared data</p>
	
	<p>Ka=(Yb^Xa) mod P</p>
	<p>Kb=(Ya^Xb) mod P</p>
	<p>Ka=Kb</p>
	</div>
	
	</div>
	<h1> Demo </h1>
	

	
	<!--Probably not a good idea to just elt people change these-->
	<!--P:<input type="text" ng-model="P" ><br>-->
	<!--G:<input type="text" ng-model="Q" ><br>-->
	
	<button type="button" ng-click="computeKeys()" ng-init="computeKeys()">Compute Keys</button>
	
	<ul>
	<li>N ={{P*Q}}=pq={{P}}*{{Q}}
	<li>E ={{e}}=coprime(φ(n))
	<li>D ={{d}}=modularInverse(E,φ(n))
	</ul>
	
	<table>
	<tbody>
	
	<tr>
		<td>
		P
		</td>
		<td>
		{{P}}
		</td>
	</tr>
	
	<tr>
		<td>
		Q
		</td>
		<td>
		{{Q}}
		</td>
	</tr>
	
	<tr>
		<td>
		N
		</td>
		<td>
		{{n}}
		</td>
	</tr>
	
	<tr>
		<td>
		φ(n)
		</td>
		<td>
		{{phi}}
		</td>
	</tr>
	
	<tr>
		<td>
		E
		</td>
		<td>
		{{e}}
		</td>
	</tr>
	<tr>
		<td>
		D
		</td>
		<td>
		{{d}}
		</td>
	</tr>
	</tbody>
	</table>
	<div>
		Write some text in textbox:
	<input type="text" ng-model="plain" ng-change="changeMessage()" /><br>
	
	<h2>Plain</h2>
	<p ng-model="plain" > {{plain}}</p>
	
	<h2>Plain(hex)</h2>
	<p ng-model="hexPlain" >Hex {{hexPlain}}</p>
	<p >Crypt {{ hexCrypt }}</p>
	<p >Hello {{ hexCrypt }}</p>
	</div>
	
	<div>
	<input type="text" ng-model="hexCryptIn" ng-change="changeCrypt()" /><br>
	<p> {{plainOut}} </p>
	</div>
	
	</div>
	
	<div>
	<hr>
	<ul id="navbar">
	<li><a href="DH.html">Previous:Diffie Hellman</a></li>
	<li><a href="index.html">Up:Contents </a></li>
	
	</ul>
	</div>
	
</body>

<script type="text/javascript">


function encrypt(M,e,n)
{
	var s = RSA.encrypt(M,e,n).toString(16);
	return s;
}

function decrypt(C,d,n)
{
	return bigInt(C,16).modPow(d,n).toString(16); 
}


var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.name = "John Doe";
    //$scope.P=11
    //$scope.Q=31
    $scope.P=1159523
    $scope.Q=117
    $scope.e="?"
    $scope.d="?"
    $scope.n="?"
    $scope.phi="?"
    $scope.computeKeys = function() {
    
    		var o= RSA.generate();
    		
    		$scope.P= o.p;
    		$scope.Q= o.q;
    		$scope.d= o.d;
    		$scope.e= o.e;
    		$scope.n= o.n;
    		$scope.phi= o.phi;
			
      };
    
    
    $scope.changeMessage = function() 
    {
    	//$scope.hexPlain = $scope.plain.hexEncode();
    	var crypt =  encrypt($scope.plain,$scope.e,$scope.n)
    	$scope.hexPlain= Number($scope.plain).toString(16);
        $scope.hexCrypt = crypt;
        //$scope.hexPlain = $scope.plain.hexEncode();
        
    };
    
    $scope.changeCrypt = function() 
    {
    	var cipherText = $scope.hexCryptIn;
    	var plain =  decrypt(cipherText,$scope.d,$scope.n)
    	
    	$scope.plainOut=plain;
        
    };
    
    
});

</script>
<script type="text/javascript">
//console.log("0xF1" + data.charCodeAt(0).toString(16));
</script>

</html>
