

.caption
{
	text-align:center;
	font-style:italic;
	width:100%;
}

.challengeSoln
{
	color: $FFE;
	background:#FFE;
	border: solid black 1px;
	width:40%;
	padding:.3em;
}

.output
{
	border:solid 1px;
	padding:12pt;
	margin:1.5em;
}

.page
{
	background-color:#FFE;
	
	border-left:solid 2px #FDFDDD;
	border-bottom:solid 3px #DDD;
	
	border-right:solid 1px #EEE;
	border-top:solid 1px #FDFDDD;
	
	
	margin:1em ;
	padding-left:1em;
	padding-right:1em;
}

.equation
{
	font: 16pt;
	padding-left:1pt;
}

textarea
{
	width:100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body
{
	background: #F8F8FF
}

#navbar li
{
	display: block;
}

#navbar  {
    list-style-type: none;

    padding: 0;
    overflow: hidden;

}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
