textarea
{
	width:100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:95%;
}

body
{
	background-image: url(/img/bg.jpg);
	font-family:Tahoma, Verdana, Segoe, sans-serif;
	font-size: 12pt;
	/*font-family: Cambria, Georgia, serif;*/
	/*background: #F8F8FF;*/
}

p
{
	margin-left:.5em;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h1 {
	font-family: Calibri ,sans-serif;
	font-size: 24pt;
	font-style: bold;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-family: Arial Black ,sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20px;
}

h3 {
	font-family: Arial Black ,sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 16px;
}

table
{
    margin-left: auto;
    margin-right: auto;
    width:80%;

	margin-left:.5em;
}

table, td, th
{
	border: 1px solid Tan;
	padding:.5em;
	border-collapse:collapse;
}

th
{
	text-align:centre;
	font-weight:bold;
	width:30%;
}

input[type="text"], textarea {

  background-color : rgba(255,255,255,.2);
  border:  2px ridge olive;
  font-size: 12pt;

}


.caption
{
	text-align:center;
	font-style:italic;
	width:100%;
}

.challengeSoln
{
	color: $FFE;
	background:#FFE;
	border: solid black 1px;
	width:40%;
	padding:.3em;
}

.output
{
	border:solid 1px;
	padding:12pt;
	margin:1.5em;
}

.page
{
	background-color:#FFE;
	
	border-left:ridge 2px #FDFDDD;
	border-bottom:ridge 3px #DDD;
	
	border-right:solid 1px #EEE;
	border-top:ridge 2px #FDFDDD;
	
	
	margin:2em ;
	padding-left:1em;
	padding-right:1em;
	min-height:11in;
}

.equation
{
	font: 16pt;
	padding-left:1pt;
}

.error
{
	text-decoration:underline;
	color:red;
}



#navbar li
{
	/*display: block;*/
}

#navbar  {
    /*list-style-type: disc;*/

    padding: 0;
    overflow: hidden;

}

#navbar li {
	margin-top:.5em;
    /*float: left;
    */
}

#navbar li a {
   /* display: block;*/

    text-align: center;
    padding: 14px 16px;
    /*text-decoration: none;*/
}
