

.caption
{
	text-align:center;
	font-style:italic;
	width:100%;
}

.challengeSoln
{
	color: $FFE;
	background:#FFE;
	border: solid black 1px;
	width:40%;
	padding:.3em;
}

.challengeSoln p
{
	color: #FFE;
	background:white;
}

.challengeSoln p:hover
{
	color: black;
	background:white;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navbar li
{
	display: block;
}

#navbar  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
